{
    "sqlite": {
        "host": "/var/lib/semaphore/database.sqlite"
    },
    "dialect": "sqlite",
    "tmp_path": "/tmp/semaphore",
    "cookie_hash": "{{ semaphore_cookie_hash }}",
    "cookie_encryption": "{{ semaphore_cookie_encryption }}",
    "access_key_encryption": "{{ semaphore_access_key_encryption }}"
}
