[Unit]
Description=A isc-kea DHCP DDNS container
After=network-online.target

[Container]
Image=docker.io/jonasal/kea-dhcp-ddns:2
AddCapability=NET_ADMIN
AddCapability=NET_RAW
SecurityLabelDisable=true
Network=host
Volume=/opt/podman/isc-kea/kea:/kea:Z
Exec="-c /kea/config/dhcp4-ddns.json"
ContainerName=isc-kea-dhcp-ddns

[Service]
# Restart service when sleep finishes
Restart=always

[Install]
WantedBy=default.target
